
<div class="container-fluid entrybg pt-5">
{{#each diaries}}

<div class="card card-body mb-2 pt-3 card-cust mx-auto" style="width:50%;">
    <h4 class="title-sm">{{title}}</h4>
    <p class="text">{{date}}</p>
    <p class="text">{{entry}}</p>
    <a class="btn btn-dark btn-block mb-2 label" href="/entry/edit/{{id}}">Edit</a>
    <form action="/entry/{{id}}?_method=DELETE" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" class="btn btn-danger btn-block label" value="Delete">
    </form>
</div>

{{else}}
<p>No diary entries</p>

{{/each}}
</div>

